<h1>Добро пожаловать в Todo-лист!</h1>
<p>
  Todo-лист - ваш личный органайзер и помощник в управлении задачами. Это
  простой, но мощный инструмент, который поможет вам организовать вашу работу,
  учебу и личные дела, чтобы вы могли быть более продуктивными и достигать своих
  целей.
</p>
<h2>Особенности Todo-листа:</h2>
<ul>
  <li>
    1. Создавайте задачи: Записывайте все свои задачи в удобном и
    структурированном виде. Вы можете создавать категории, добавлять названия и
    описания задач для более ясного представления о том, что нужно сделать.
  </li>
  <li>
    2. Устанавливайте приоритеты: Определите важность каждой задачи, установив
    ей приоритет. Пометьте самые срочные и важные дела, чтобы никогда не
    упустить важный срок и сосредоточиться на самом значимом.
  </li>
  <li>
    3. Отслеживайте прогресс: Отмечайте задачи как выполненные, чтобы видеть
    свой прогресс и чувствовать удовлетворение от достигнутых результатов.
    Ведите отчет о выполненных заданиях и видите, как растет ваша
    производительность.
  </li>
</ul>
