<form (ngSubmit)="parentEvent.emit(searchTodoItems())">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    name="searchTerm"
    placeholder="Search term"
  />
  <label>
    <input type="checkbox" [(ngModel)]="defaultFilter" name="doneFilter" />
    Default
  </label>
  <label>
    <input
      type="checkbox"
      [(ngModel)]="importantFilter"
      name="importantFilter"
    />
    Important
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="completedFilter" name="doneFilter" />
    Completed
  </label>
  <button type="submit">Search</button>
</form>
